// Fonts
@import url('https://fonts.googleapis.com/css?family=Muli');
// Variables
@import 'variables';
@import 'login';
@import 'form';

html, body {
    margin: 0;
    font-family: 'Muli';
    * {
        transition: ease 0.2s all;
    }
}
a {
    text-decoration: none;
    color: inherit;
}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar > .container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
    padding: 1em;
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 1.2em;
    }
    .navbar-brand {
        flex-basis: 100%
    }
    .login {
        margin-right: 1em;
    }
}
.admin.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
.adminLink {
    outline: none;
    border: none;
    padding: 0.5em 1em;
    background-color: #dd3e3f;
    color: white;
    border: solid white 2px;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1em;
}
.adminLink:hover {
    cursor: pointer;
    background-color: white;
    color: #dd3e3f;
    border-color: #dd3e3f;
}
