@import url(https://fonts.googleapis.com/css?family=Muli);.login.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

form {
  width: 80%;
  min-width: 400px;
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

form * {
  flex: 1 1 33%;
  margin: 5px;
}

form h1 {
  flex-basis: 100%;
  text-align: center;
}

form input {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #ebebeb;
  margin-bottom: 1em;
  font-size: 1.2em;
}

form input:focus {
  background: #d6d6d6;
}

form input[name=email],
form input[name=password] {
  flex: 1 1 45%;
}

form input[name=email] {
  margin-right: 10px;
}

form button {
  flex: 1 1 150px;
  font-size: 1.1em;
  padding: 10px;
  background-color: #dedeff;
  border: none;
}

form button:hover {
  cursor: pointer;
  background-color: #3c3ca5;
  color: white;
}

form button:hover a {
  color: white;
}

.illustration > form {
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.illustration > form button {
  flex-basis: 100%;
}

html,
body {
  margin: 0;
  font-family: "Muli";
}

html *,
body * {
  transition: ease 0.2s all;
}

a {
  text-decoration: none;
  color: black;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar > .container {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 1em;
}

.navbar > .container li {
  list-style-type: none;
}

.navbar > .container a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.navbar > .container .navbar-brand {
  flex-basis: 100%;
}

.navbar > .container .login {
  margin-right: 1em;
}

